# Data Science Notebook

## Introduction
This notebook contains an overview of key concepts in Data Science, including programming languages, libraries, tools, and arithmetic operations.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Java
- Scala

## Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras

## Data Science Tools

| Tool | Description |
|------|-------------|
| Jupyter Notebook | Interactive coding environment |
| RStudio | IDE for R programming |
| Apache Spark | Big data processing |
| TensorFlow | Machine learning framework |
| Tableau | Data visualization |

## Arithmetic Expression Examples
Arithmetic expressions are used to perform mathematical operations.

### Example 1: Multiplication and Addition
```python
result = (3 * 4) + 5
print(result)
```

In [35]:
result = (3 * 4) + 5
print(result)

17

### Example 2: Convert Minutes to Hours
```python
minutes = 120
hours = minutes / 60
print(hours)
```

In [40]:
minutes = 120
hours = minutes / 60
print(hours)

2.0

## Objectives
- Understand Data Science languages
- Learn about Data Science libraries
- Explore Data Science tools
- Perform basic arithmetic operations in code

## Author
**Trịnh Việt Dương**